<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container">
    <h2 class="m-2">Create New Blog</h2>
    <form>
      <label for="title" class="form-label">Blog title:</label>
      <input type="text" class="form-control" id="title" name="title" required>
      <label for="snippet" class="form-label">Blog snippet:</label>
      <input type="text" class="form-control" id="snippet" name="snippet" required>
      <label for="body" class="form-label">Blog body:</label>
      <textarea id="body" class="form-control" name="body" required></textarea>
      <button class="btn btn-outline-primary my-2">Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>